<h1>Subtopic</h1>

<%= form_with(model: @subtopic, url:questions_path, local: true) do |f| %>
<%= select_tag 'subtopic_id', options_for_select(@subtopics.collect{ |c| [ c.subtopic, c.id] }) %>
<br /><br />
<%= f.submit "Submit"%><br /><br />
<% end %>