<h1>Subjects</h1>

<%= form_with(model: @chapter, url: chapter_index_path, method: :get, local: true) do |f| %>
<%= select_tag 'subject_id', options_for_select(@subjects.collect{ |s| [s.subject_name, s.id] }) %> 
<br /><br />

<%= f.submit "Submit"%><br /><br />
<% end %>
